<c-card class="mb-3 p-2">
  <div class="d-flex justify-content-between">
    <div class="d-flex align-self-center">
      <div class="me-3">
        <svg cIcon name="cilCommentBubble" size="m"></svg>
      </div>
      <div class="me-2 fw-bolder">{{ message.source }}</div>
      <div class="text-body-tertiary">
        - {{ message.timestamp | date : "h:mm:ss a" }}
      </div>
    </div>
    <div>
      <button
        cButton
        color="danger"
        variant="ghost"
        size="sm"
        (click)="onDelete.emit(message.id)"
      >
        <svg cIcon name="cilTrash" size="m"></svg>
      </button>
    </div>
  </div>
  <c-card-body>{{ message.text }} </c-card-body>
</c-card>
